@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap')

body
  font-family: 'Ubuntu', sans-serif
  font-size: 15px

h1, h2, h3, h4, h5, h6, .text-h6
  line-height: 1.2 !important

a
  text-decoration: none
  color: $dark

p
  font-size: 16px
  margin-bottom: 0 !important

.letter-spacing-5
  letter-spacing: .5px

.section-title
  font-size: 30px
  font-weight: 700


@media screen and (max-width: 650px)
  .section-title
    font-size: 20px
    font-weight: 700

  p
    font-size: 14px
