.splide
  padding: 0 !important

.splide__pagination
  bottom: -30px !important

.splide__pagination__page.is-active
  background: $primary !important

.splide__arrow
  top: auto !important
  bottom: -63px !important
  z-index: 25

.splide__arrow--prev
  left: 43% !important

.splide__arrow--next
  right: 43% !important

.splide__arrow svg
  width: 30px !important
  height: 30px!important
  border-radius: 50% !important
  background: $primary !important
  padding: 10px !important
  fill: #fff !important
  transition: all .5s linear
  box-shadow: 2px 2px 10px 0px rgba(2, 156, 236, 0.3)
  &:hover
    opacity: .8
