@import "fonts"
@import "scrollbar"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  color: $dark

.q-toolbar
  padding: 0 3px !important

.hide-on-desktop
  display: none

.img-overlay
  position: relative

  &:after
    content: ''
    top: 0
    bottom: 0
    right: 0
    left: 0
    position: absolute
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%)

.q-img__content > div
  //padding: 0 !important
  background: none !important

@media screen and (max-width: 992px)
  .hide-on-desktop
    display: block

  .hide-on-mobile
    display: none !important

  .mobile-flex
    display: flex !important
